<div id="<%= dom_id employee %>">
  <p>
    <strong>Id:</strong>
    <%= employee.id %>
  </p>
  <p>
    <strong>Name:</strong>
    <%= employee.name %>
  </p>

  <p>
    <strong>Image url:</strong>
    <%= image_tag employee.image_url %>
  </p>

</div>
