<div id="<%= dom_id comment %>">
  <p>
    <strong>Body:</strong>
    <%= comment.body %>
  </p>

  <p>
    <%= link_to "Show this comment", comment %> || 
    <%= link_to "Edit this comment", edit_comment_path(comment) %>
  </p>

</div>
