<p style="color: green"><%= notice %></p>

<h1>Comments</h1>

<div id="comments">
  <% @comments.each do |comment| %>
    <%= render comment %>
  <% end %>

  <%#== pagy_nav(@pagy, link_extra: 'id="next_link') %>
</div>

<div id="load_more_button">
  <%= button_to "Load More", pagy_url_for(@pagy, @pagy.next) %>
</div>



<%= link_to "New comment", new_comment_path %>
